body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.orange{
    background-color: orange;
  padding:45px 250px;
}
.white{
    background-color:white;
height: 130px;
position: relative;
}
.white-inner{
    background-color:white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid blue;
    position: absolute;
left: 40%;
top: 6%;
}
.white-in{
    background-color: blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
border: 2px solid blue;
outline: 5px dotted blue; 
outline-offset: 35px;
position: absolute;
left: 38%;
top: 38%;
}
.green{
    background-color:green;
  padding:45px 150px;
}
.flag{
    display: block;
 
}
.ashoka{
    background-color: blue;
    width: 90px;
    height: 3px;
    position: absolute;
    top: 48px;
    left: 5px;
    

}
.ashoka:nth-child(1){ transform: rotate(0deg);}
 .ashoka:nth-child(2){transform:rotate(15deg);}
.ashoka:nth-child(3){transform:rotate(30deg);}
.ashoka:nth-child(4){transform: rotate(45deg);}
.ashoka:nth-child(5){transform:rotate(60deg);}
.ashoka:nth-child(6){transform:rotate(75deg);}
.ashoka:nth-child(7){transform: rotate(90deg);}
.ashoka:nth-child(8){transform: rotate(105deg);}
.ashoka:nth-child(9){transform: rotate(120deg);}
.ashoka:nth-child(10){transform: rotate(135deg);}
.ashoka:nth-child(11){transform: rotate(150deg);}
.ashoka:nth-child(12){transform: rotate(165deg);}
.ashoka:nth-child(13){transform: rotate(180deg);}